<html>

<head>
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <script src="/js/edit.js"></script>


</head>

<body>
    
     <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <!-- Form code begins -->
                    <form method="post" action="edittask">
                        <div class="form-group">
                                    <select class="form-control" name="taskid" id="taskid">
                                            <option selected>Select task to Edit</option>
                                            {{#each tasks}}
                                            <option value={{_id}}>{{name}}</option>
                                            {{/each}}
                                    </select>

                        </div>
                        <div class="form-group">
                            <!-- Date input -->
                            <label class="control-label" for="name">Task Name</label>
                            <input class="form-control" id="taskname" name="taskname" type="text" value="" />
                        </div>
                        <div class="form-group">
                            <!-- Date input -->
                            <label class="control-label" for="desc">Task Description</label>
                            <input class="form-control" id="taskdesc" name="taskdesc"type="text" value="" />
                        </div>
                        <div class="form-group">
                            <!-- Date input -->
                            <label class="control-label" for="name">Task Course</label>
                            <input class="form-control" id="taskcourse" name="taskcourse"type="text" value="" />
                        </div>
                        <div class="form-group">
                            <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="taskdate" name="taskdate"type="text" value=" " />
                        </div>
                        
                        <div class="form-group">
                            <!-- Submit button -->
                            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                        </div>
                    </form>
                    <!-- Form code ends -->

                </div>
            </div>
        </div>
    </div>

</body>

</html>